body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
    height: 70vh;
    width: 40vw;
    background-color: #485368;
}

.AddTasks{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}

.AddTasks > input{
  height: 4vh;
  width: 40%;
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
}

.AddTasks > button{
  height: 4vh;
  width: 15%;
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
  background-color: #19718a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7%;
}

.tasksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 2rem;

}

.textTasks{
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
}

.removeTasksBtn{
  text-align: center;
  height: 4vh;
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
  background-color: #912c2c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7%;
}

.checkboxTasks{
  width: 3vh;
  height: 3vh;
  cursor: pointer;
}

.tasks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}